.advantages
    .container
        .advantages__item.advantages__item--tools
            p.advantages__text Техника проходит обязательное обслуживание перед каждым выездом
        .advantages__item.advantages__item--builder
            p.advantages__text Все машины оборудованы спец. сигналами, для предупреждения аварий
        .advantages__item.advantages__item--fance
            p.advantages__text Привезем модные строительные ограждения к каждому заказу от 20 000
        .advantages__item.advantages__item--worker
            p.advantages__text С техникой приедут квалифицированные операторы и водители