.building
    .building__item.building__item--cottage
        .container
            .building__block
                h3.building__title Строительство жилого дома в деревушке на севере холма
                p.building__text Спецтех24 – это сеть пунктов аренды спецтехники Cat, оборудования и специализированных инструментов для выполнения большинства видов работ.
                a.building__btn(href='#') Подробнее
    .building__item.building__item--multi-storey
        .container
            .building__block
                h3.building__title Строительство жилого дома в деревушке на севере холма
                p.building__text Спецтех24 – это сеть пунктов аренды спецтехники Cat, оборудования и специализированных инструментов для выполнения большинства видов работ.
                a.building__btn(href='#') Подробнее
    .building__item.building__item--house
        .container
            .building__block
                h3.building__title Строительство жилого дома в деревушке на севере холма
                p.building__text Спецтех24 – это сеть пунктов аренды спецтехники Cat, оборудования и специализированных инструментов для выполнения большинства видов работ.
                a.building__btn(href='#') Подробнее