.catalog
    .container
        include equipment-nav
        .catalog__wrapper
            .catalog__item
                h2.catalog__title Колесный экскаватор Cat M315D
                img.catalog__img(src='img/excavator.png' alt='excavator')
                p.catalog__price 25 тыс / месяц
                .catalog__btn-wrapper
                    a.catalog__btn.catalog__btn--rent(href='#') Арендовать
                    a.catalog__btn.catalog__btn--more(href='#') Подробнее
            .catalog__item
                h2.catalog__title Колесный экскаватор Cat M315D
                img.catalog__img(src='img/excavator.png' alt='excavator')
                p.catalog__price 25 тыс / месяц
                .catalog__btn-wrapper
                    a.catalog__btn.catalog__btn--rent(href='#') Арендовать
                    a.catalog__btn.catalog__btn--more(href='#') Подробнее
            .catalog__item
                h2.catalog__title Колесный экскаватор Cat M315D
                img.catalog__img(src='img/excavator.png' alt='excavator')
                p.catalog__price 25 тыс / месяц
                .catalog__btn-wrapper
                    a.catalog__btn.catalog__btn--rent(href='#') Арендовать
                    a.catalog__btn.catalog__btn--more(href='#') Подробнее
            .catalog__item
                h2.catalog__title Колесный экскаватор Cat M315D
                img.catalog__img(src='img/excavator.png' alt='excavator')
                p.catalog__price 25 тыс / месяц
                .catalog__btn-wrapper
                    a.catalog__btn.catalog__btn--rent(href='#') Арендовать
                    a.catalog__btn.catalog__btn--more(href='#') Подробнее
            p.catalog__pages
                a.catalog__page(href='#') 1
                a.catalog__page(href='#') 2
                a.catalog__page(href='#') 3
                a.catalog__page(href='#') 4


