.consultation
    .container
        p.consultation__title Закажите бесплатную консультацию по подбору подходящей техники:
        form.consultation__form
            input.consultation__input(type='text' name='name' placeholder='Как Вас зовут?')
            input.consultation__input(type='text' name='phone' placeholder='Ваш номер телефона')
            input.consultation__input(type='text' name='date' placeholder='На какую дату?')
            input.consultation__btn(type='button' value='Заказать консультацию')