.contacts
    .container
        .contacts__map
            iframe.map__area(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15976.870037828896!2d30.28959795!3d59.96351945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1469693324715" allowfullscreen)
        .contacts__wrapper
            p.contacts__phone +7 (812) 212 85 06
            p.contacts__email rent@spezteh.ru
            p.contacts__text Заказать консультацию по подобру подходящей техники:
            form.contacts__form
                input.contacts__input(type='text' name='contacts-name' placeholder='Ваше имя')
                input.contacts__input(type='text' name='contacts-phone' placeholder='Ваш номер телефона')
                textarea.contacts__textarea(placeholder='Описание задачи')
                input.contacts__btn(type='button' name='contacts-btn' value='Получить консультацию')