.map
    iframe.map__area(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15976.870037828896!2d30.28959795!3d59.96351945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1469693324715" allowfullscreen)