- var navList = [{title: 'О компании', link: 'index.html'}, {title: 'Каталог', link: 'catalog.html'},{title: 'Портфолио', link: 'portfolio.html'},{title: 'Контакты', link: 'contacts.html'}]
footer.page-footer
    .container
        include main-logo
        include main-nav