section.promo-block
    .container
        p.promo-block__title Вместе мы справимся!
        h1.promo-block__text Спецтех24 – это сеть пунктов аренды спецтехники Cat, оборудования и специализированных инструментов для выполнения большинства видов работ.
        a.promo-block__btn(href='catalog.html') Перейти в каталог