.recommend
    .container
        .recommend__numbers
            h2.recommend__title Спецтех в цифрах
            ul.reccomend__list
                li.recommend__item
                    span.recommend__number 16&nbsp
                    | лет работы
                li.recommend__item
                    span.recommend__number 715&nbsp
                    | объектов построено
                li.recommend__item
                    span.recommend__number 108&nbsp
                    | единиц техники
                li.recommend__item
                    span.recommend__number 500+&nbsp
                    | довольных клиентов
        .recommend__clients
            h2.recommend__title Нас рекомендуют клиенты
            .recommend__comment
                img.recommend__img(src='img/recommend__olya.png' alt='client-face')
                p.recommend__text Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
                    span.recommend__name Оля Вольт, Реал-Строй
            .recommend__comment
                img.recommend__img(src='img/recommend__grigoriy.png' alt='client-face')
                p.recommend__text Все виды работ, предусмотренные договором, компания выполнила на высоком профессиональном уровне, качественно, в срок, в соответствии с требованиями ООО «ТНН» рекомендует
                    span.recommend__name Григорий Безымянных, ТНН