.reviews
    .container
        h2.reviews__title Отзывы
        .reviews__item
            img.reviews__img(src='img/review-face__olya.png' alt='feetback-face')
            p.reviews__text Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
            p.reviews__name Оля Молния
        .reviews__item
            img.reviews__img(src='img/review-face__oleg.png' alt='feetback-face')
            p.reviews__text Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
            p.reviews__name Оля Молния
        .reviews__item
            img.reviews__img(src='img/review-face__ivan.png' alt='feetback-face')
            p.reviews__text Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
            p.reviews__name Оля Молния
        .reviews__item
            img.reviews__img(src='img/review-face__gleb.png' alt='feetback-face')
            p.reviews__text Спецтех24 – это надежные партнеры нашей компании, которые всегда выполняют работу быстро и еще у них отличное чувство юмора! Благодарим и рекомендуем.
            p.reviews__name Оля Молния