.special-offers
    .container
        h2.special-offers__title Спецпредложение
        .special-offers__wrapper
            .special-offers__item
                h2.special-offers__title Колесный экскаватор Cat M315D
                img.special-offers__img(src='img/excavator.png' alt='excavator')
                p.special-offers__price
                    span.special-offers__price.special-offers__price--old 35 000
                    | &nbsp;25 тыс / месяц
                .special-offers__btn-wrapper
                    a.special-offers__btn.special-offers__btn--rent(href='#') Арендовать
                    a.special-offers__btn.special-offers__btn--more(href='#') Подробнее
            .special-offers__item
                h2.special-offers__title Колесный экскаватор Cat M315D
                img.special-offers__img(src='img/excavator.png' alt='excavator')
                p.special-offers__price
                    span.special-offers__price.special-offers__price--old 35 000
                    | &nbsp;25 тыс / месяц
                .special-offers__btn-wrapper
                    a.special-offers__btn.special-offers__btn--rent(href='#') Арендовать
                    a.special-offers__btn.special-offers__btn--more(href='#') Подробнее
            .special-offers__item
                h2.special-offers__title Колесный экскаватор Cat M315D
                img.special-offers__img(src='img/excavator.png' alt='excavator')
                p.special-offers__price
                    span.special-offers__price.special-offers__price--old 35 000
                    | &nbsp;25 тыс / месяц
                .special-offers__btn-wrapper
                    a.special-offers__btn.special-offers__btn--rent(href='#') Арендовать
                    a.special-offers__btn.special-offers__btn--more(href='#') Подробнее
