include mixins/svg-sprite

doctype
html(lang='ru')
    include blocks/head
    body
        include blocks/page-header
        main
            include blocks/contacts-promo
            include blocks/contacts
            include blocks/reviews
    include blocks/page-footer