include mixins/svg-sprite

doctype
html(lang='ru')
    include blocks/head
    body
        include blocks/page-header
        main
            include blocks/promo-block
            include blocks/consultation
            include blocks/advantages
            include blocks/offers
            include blocks/recommend
            include blocks/map
    include blocks/page-footer