include mixins/svg-sprite

doctype
html(lang='ru')
    include blocks/head
    body
        include blocks/page-header
        main
            include blocks/works-nav
            include blocks/building
            include blocks/consultation
            include blocks/advantages
    include blocks/page-footer