.advantages{
  padding: 40px 0;

  & > .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item{
    width: 100%;
    padding-left: 60px;
    font-size: 13px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    &:before{
      content: '';
      position: absolute;
      background: url("../img/sprite/png-sprite.png") no-repeat;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &--tools:before{
      background-position: 0 -40px;
      width: 42px;
      height: 40px;
    }

    &--builder:before{
      background-position: 0 0;
      width: 46px;
      height: 40px;
    }

    &--fance:before{
      background-position: -47px 0;
      width: 42px;
      height: 40px;
    }

    &--worker:before{
      background-position: -42px -40px;
      width: 31px;
      height: 40px;
    }
  }

  @media (min-width: $screen-md) {
    &__item{
      width: 50%;
    }
  }

  @media (min-width: $screen-lg) {
    &__item{
      width: 25%;
    }
  }
}