.page-footer {
  background-color: $main;
  height: 75px;
  display: flex;
  align-items: center;

  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@import 'main-logo';
@import 'main-nav';