.special-offers{
  background: url('../img/special-offers--bg.png') center no-repeat;
  background-size: cover;
  padding: 40px 0;

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__item{
    background-color: #fff;
    width: 300px;
    height: 400px;
    padding: 30px;
    border: 1px solid $main-second;
    margin-bottom: 20px;
  }

  &__img{
    padding: 20px 0;
  }

  &__price{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
    
    &--old{
      color: #f00;
      text-decoration: line-through;
    }
  }

  &__btn-wrapper{
    width: 100%;
  }

  &__btn{
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;

    &--rent{
      background-color: $main-second;
    }

    &--more{
      background-color: $main;
    }
  }
}